.wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link {
  color: #fff;
  text-decoration: none;
  transition: color;
  transition-duration: 250ms;
}

.link:hover {
  color: #ecb365;
}